div#main {
    padding-top: 1% !important;
}
html {
    margin-top: 80px;
}
normal-page__content > navigation-card {
    position:absolute;
    bottom:0;
    right:0;
}
.site-header {
    padding: 1vw;
    width:100vw;
    box-shadow: 5px 5px 5px black;
    margin: 0px;
    max-width: 100vw;
    position: fixed;
    top: 0;
    background-color: #11121a;
    z-index: 10000;
    left:15.5vw;
}